<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kyselylista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1 th:text="${kysely.nimi}"> </h1>
	<p th:text="${kysely.kuvaus}"></p>
	<h1>Luo uusi kysymys</h1>
	<form th:object="${kysymys}" th:action="@{/tyyppi}" method="post">
	<input type="hidden" th:field="*{kysely}" class="form-control" />
	<input type="hidden" th:field="*{kysymys_id}" class="form-control" />
		<label for="Valitse seuraavan kysymyksen tyyppi">Valitse seuraavan kysymyksen tyyppi</label>
			<button type="submit" name="tyyppi" value="teksti">Teksti</button>
			<button type="submit" name="tyyppi" value="radionappula">Radionappula</button>
			<button type="submit" name="tyyppi" value="checkbox">Checkbox</button>
			<button type="submit" name="tyyppi" value="skaala">Skaala (1-5)</button>
		<br>
	</form>
	</br>
	<form method="get" action="/">
    	<button type="submit" style="background-color: #8af750">Valmis</button>
	</form>
	
	<p>Kysymykset:</p>

	<ul th:each= "kysymys:${kysymykset}">
		<li style="max-width: 450px"><span style="float: left"><span th:unless="${kysymys.kysymys_id == i}"><span th:text= "${ kysymys.teksti }"></span></span>
			<span th:if="${kysymys.kysymys_id == i}">
			<form th:object="${kysymys}" th:action="@{/editkysymys}" action="#" method="post" style="display:inline">
				<input type="text" th:field="*{teksti}" class="form-control"  />
				<p th:if="${#fields.hasErrors('teksti')}" th:errors="*{teksti}">Error</p>
				<input type="hidden" name="i" th:value="${i}" class="form-control" />
				<input type="submit" value="Tallenna" style="background-color: lightblue"></input>
			</form>
			</span>
			(<span th:text= "${kysymys.tyyppi}"></span>) </td></span>
			<span style="position: absolute; left: 500px;">
			<a th:href="@{/aloitamuokkaus/{id}(id=${kysymys.kysymys_id})}">
			<button type="button" style="background-color: #f2fa77">Muokkaa</button></a>
			<a th:href="@{/deleteKyssari/{id}(id=${kysymys.kysymys_id})}">
			<button type="button" style="background-color: #f34036; color: white">Poista</button></a></li>
			</span>
			<span th:if="${kysymys.tyyppi == 'radionappula' || kysymys.tyyppi == 'checkbox'}"><br /></span>
			<ul th:each= "vaihtoehto:${kysymys.monivalinta}">
				<li>
					<p th:text= "${ vaihtoehto }" />
					<span th:if="${kysymys.kysymys_id == i}">
						<form th:object="${kysymys}" th:action="@{/deletemonivalinta/{id} (id=${kysymys.kysymys_id})}" action="#" method="post" style="display:inline">
							<input type="hidden" name="vaihtoehto" th:value="${vaihtoehto}" class="form-control" />
						 	<input type="submit" style="background-color: #f34036; color: white" value="Poista" />
					 	</form>
				 	</span>
			 	</li>
			</ul>	
			<br />
			<span th:if="${kysymys.kysymys_id == i}">
				<span th:if="${kysymys.tyyppi == 'radionappula' || kysymys.tyyppi == 'checkbox'}">
					<form th:action="@{/lisaamonivalinta/{id} (id=${kysymys.kysymys_id})}" action="#" method="post" style="display:inline">
						<input type="text" id="vaihtoehto" name="vaihtoehto" value="" class="form-control"  />
						<input type="submit"style="background-color: lightblue" value="Lisää" />
					</form>
				</span>
			</span>
	</ul>
	</span>
	
	

</body>
</html>