<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kyselylista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1>Luo uusi kysymys</h1>
	
	<ul th:each= "kysymys:${kysely.kysymykset}">
		<li><p th:text= "${ kysymys.teksti }"/></li>
	</ul>
	
	
	<form th:object="${kysymys}" th:action="@{savekysymys}" action="#" method="post">
		<label for="teksti">Kysymys: </label>
		<input type="text" id="teksti" th:field="*{teksti}" /></br>
		<input type="hidden" value={kysely} />
		<input type="hidden" value={kysymykset} />
		<input type="submit" value="Uusi kysymys"></input>
	</form>
	

	
</body>
</html>