<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kyselylista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1>Luo uusi kysely</h1>
	<table>
		<tr th:each= "kysely:${kyselyt}">
			<td th:text= "${ kysely.nimi }"></td>
			<td><a th:href="@{/edit/{id}(id=${kysely.kysely_id})}">Syötä kysymyksiä</a></td>
  			<td><a th:href="@{/kyselyt/{id}/kysymykset(id=${kysely.kysely_id})}">Näytä</a></td>
			<td><a th:href="@{/delete/{id}(id=${kysely.kysely_id})}">Delete</a></td>
		</tr>
	</table>

	<a th:href="@{/add}">Lisää uusi kysely</a><br />
	<a th:href="@{/resthome}">REST API</a>
	
</body>
</html>