<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>luokysely</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Luo uusi kysely</h1>
    <form th:object="${kysely}" th:action="@{/savekysely}" action="#" method="post">
        <label for="nimi">Kyselyn nimi: </label>
        <input type="text" id="nimi" th:field="*{nimi}" />
        <p th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}">Error</p></br>
        <label for="kuvaus">Kyselyn kuvaus: </label>
        <input type="text" id="kuvaus" th:field="*{kuvaus}" />
        <p th:if="${#fields.hasErrors('kuvaus')}" th:errors="*{kuvaus}">Error</p>
        <input type="submit" value="Valmis"></input>
    </form>
</body>

</html>