<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REST home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>

<h1>*** REST Home Page ***</h1>

<h2><strong>* GET-metodit *</strong></h2>
<h3>Hae kaikki kyselyt (/kyselyt):</h3>
<h3>JSON Example: <a href="/kyselyt">/kyselyt</a></h3>

<div>
	<pre class ="tab">
[
	{
		"kysely_id": 1,
		"nimi": "Kurssipalautekysely",
		"kuvaus": "Tällä kyselyllä selvitetään opiskelijoiden kokemuksia kurssista X."
	}
]
	</pre>
</div>

<h3>Hae kysely kysely_id:llä (/kyselyt/{kysely_id}):</h3>
<h3>JSON Example: <a href="/kyselyt/1">/kyselyt/1</a></h3>

<div>
	<pre class ="tab">
{
	"kysely_id": 1,
	"nimi": "Kurssipalautekysely",
	"kuvaus": "Tällä kyselyllä selvitetään opiskelijoiden kokemuksia kurssista X."
}
	</pre>
</div>

<h3>Hae tietyn kyselyn kysymykset (/kyselyt/{kysely_id}/kysymykset)</h3>
<h3>JSON Example: <a href="/kyselyt/1/kysymykset">/kyselyt/1/kysymykset</a></h3>

<div>
	<pre class ="tab">
[
	{
		"kysymys_id": 2,
		"teksti": "Mikä kurssissa oli mielestäsi hyvää?",
		"tyyppi": "teksti",
		"vaadittu": true,
		"monivalinta": [],
		"kysely": {
			"kysely_id": 1,
			"nimi": "Kurssipalautekysely",
			"kuvaus": "Tällä kyselyllä selvitetään opiskelijoiden kokemuksia kurssista X."
		}
	},
	{
		"kysymys_id": 3,
		"teksti": "Mitä voisi tehdä paremmin?",
		"tyyppi": "teksti",
		"vaadittu": true,
		"monivalinta": [],
		"kysely": {
			"kysely_id": 1,
			"nimi": "Kurssipalautekysely",
			"kuvaus": "Tällä kyselyllä selvitetään opiskelijoiden kokemuksia kurssista X."
		}
	},
	{
		"kysymys_id": 4,
		"teksti": "Osallistuitko aktiivisesti?",
		"tyyppi": "teksti",
		"vaadittu": true,
		"monivalinta": [],
		"kysely": {
			"kysely_id": 1,
			"nimi": "Kurssipalautekysely",
			"kuvaus": "Tällä kyselyllä selvitetään opiskelijoiden kokemuksia kurssista X."
		}
	},
	{
		"kysymys_id": 5,
		"teksti": "Minkä arvosanan 1-5 antaisit kurssille, miksi?",
		"tyyppi": "teksti",
		"vaadittu": true,
		"monivalinta": [],
		"kysely": {
			"kysely_id": 1,
			"nimi": "Kurssipalautekysely",
			"kuvaus": "Tällä kyselyllä selvitetään opiskelijoiden kokemuksia kurssista X."
		}
	},
	{
		"kysymys_id": 6,
		"teksti": "Minkä arvosanan 1-5 antaisit itsellesi, miksi?",
		"tyyppi": "teksti",
		"vaadittu": true,
		"monivalinta": [],
		"kysely": {
			"kysely_id": 1,
			"nimi": "Kurssipalautekysely",
			"kuvaus": "Tällä kyselyllä selvitetään opiskelijoiden kokemuksia kurssista X."
		}
	}
]

	</pre>
</div>
<h3>Hae vastaukset tiettyyn kyselyyn (/kyselyt/{kysely_id}/vastaukset):</h3>
<h3>JSON Example: <a href="/kyselyt/1/vastaukset">/kyselyt/1/vastaukset</a></h3>

<div>
	<pre class ="tab">
]
	{
		"vastaus_id": 12,
		"syote": "Mielenkiintoinen aihe",
		"checkbox": [],
		"kysymys": {
			"kysymys_id": 2,
			"teksti": "Mikä kurssissa oli mielestäsi hyvää?",
			"tyyppi": "teksti",
			"vaadittu": true,
			"monivalinta": [],
			"kysely": {
				"kysely_id": 1,
				"nimi": "Kurssipalautekysely",
				"kuvaus": "Tällä kyselyllä selvitetään opiskelijoiden kokemuksia kurssista X."
			}
		}
	},
	{
		"vastaus_id": 13,
		"syote": "En keksi mitään",
		"checkbox": [],
		"kysymys": {
			"kysymys_id": 3,
			"teksti": "Mitä voisi tehdä paremmin?",
			"tyyppi": "teksti",
			"vaadittu": true,
			"monivalinta": [],
			"kysely": {
				"kysely_id": 1,
				"nimi": "Kurssipalautekysely",
				"kuvaus": "Tällä kyselyllä selvitetään opiskelijoiden kokemuksia kurssista X."
			}
		}
	},
	{
		"vastaus_id": 14,
		"syote": "Lintsasin jonkin verran",
		"checkbox": [],
		"kysymys": {
			"kysymys_id": 4,
			"teksti": "Osallistuitko aktiivisesti?",
			"tyyppi": "teksti",
			"vaadittu": true,
			"monivalinta": [],
			"kysely": {
				"kysely_id": 1,
				"nimi": "Kurssipalautekysely",
				"kuvaus": "Tällä kyselyllä selvitetään opiskelijoiden kokemuksia kurssista X."
			}
		}
	},
	{
		"vastaus_id": 15,
		"syote": "4, ei valittamista",
		"checkbox": [],
		"kysymys": {
			"kysymys_id": 5,
			"teksti": "Minkä arvosanan 1-5 antaisit kurssille, miksi?",
			"tyyppi": "teksti",
			"vaadittu": true,
			"monivalinta": [],
			"kysely": {
				"kysely_id": 1,
				"nimi": "Kurssipalautekysely",
				"kuvaus": "Tällä kyselyllä selvitetään opiskelijoiden kokemuksia kurssista X."
			}
		}
	},
	{
		"vastaus_id": 16,
		"syote": "3, en ansaitse parempaa",
		"checkbox": [],
			"kysymys": {
			"kysymys_id": 6,
			"teksti": "Minkä arvosanan 1-5 antaisit itsellesi, miksi?",
			"tyyppi": "teksti",
			"vaadittu": true,
			"monivalinta": [],
			"kysely": {
				"kysely_id": 1,
				"nimi": "Kurssipalautekysely",
				"kuvaus": "Tällä kyselyllä selvitetään opiskelijoiden kokemuksia kurssista X."
			}
		}
	}
]
	</pre>
</div>
<h2><strong>* POST-metodit *</strong></h2>
<h3>Tallenna vastaus tietylle kysymykselle (/kyselyt/{kyselyid}/kysymykset/{kysymys_id}/vastaus):</h3>
<h3>JSON Example: <a href="/kyselyt/1/kysymykset/2/vastaus">/kyselyt/1/kysymykset/2/vastaus</a></h3>

<div>
	<pre class ="tab">

	</pre>
</div>
<h3>Tallenna tietyn kyselyn vastaukset (/kyselyt/{kyselyid}/vastaukset2):</h3>
<h3>JSON Example: <a href="/kyselyt/1/vastaukset2">/kyselyt/1/vastaukset2</a></h3>

<div>
	<pre class ="tab">
	Whitelabel Error Page
	</pre>
</div>
</body>
</html>