<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tekstikysymys</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<form th:object="${kysymys}" th:action="@{../ohjaa}" action="#" method="post">
		<label for="teksti">Kysymys: </label>
		<input type="text" id="teksti" th:field="*{teksti}" /></br>
		<input type="hidden" th:field="*{tyyppi}" class="form-control" />
		<input type="hidden" th:field="*{kysely}" class="form-control" />
		<input type="hidden" th:field="*{kysymys_id}" class="form-control" />
		<input type="submit" value="Tallenna"></input>
	</form>
</body>
</html>